<%-- any content can be specified here e.g.: --%>
<%@ page pageEncoding="UTF-8" %>
<div id="footer">
    <p>&copy; Name | Design by <a rel="nofollow" target="_blank" href="http://writeside.net">Zahar Lepeshkin</a> | <a rel="nofollow" target="_blank" href="http://validator.w3.org/check?uri=referer">XHTML</a> | <a rel="nofollow" target="_blank" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | I support OpenDesigns.org</p>
  </div> 
  
</div>
</body>
</html>
