<%@page contentType="text/html" pageEncoding="UTF-8"%>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
   
<head>
<title>Библиотка Тисова</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" />
</head>
<body>
<div id="wrapper">
  <div id="nav">
    <ul>
   <!--   <li><a href="#">About</a></li>
     <!-- <li><a href="#">Contact</a></li> -->
      <li><a href="registration">Регистрация</a></li>
      <li><a href="index.jsp">Главная</a></li>
    </ul>
  </div>
  <div id="header">
    <h1>Библиотека имени Д. Тисова</h1>
  </div>